<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" type="text/css" href="css/product.css">
</head>
<body>
<div class="front-product">
    <table id="productTable">
       <!--<tr ng-repeat="line in lineList">-->
            <!--<td ng-repeat="product in line">-->
                <!--<div class="product-img" >-->
                    <!--<img ng-src="{{product.url}}">-->
                <!--</div>-->
                <!--<div class="product-info">-->
                    <!--<div class="product-name">-->
                        <!--<a href="javascript:void(0)">{{product.name}}</a>-->
                    <!--</div>-->
                    <!--<div class="product-intro">-->
                        <!--<a href="javascript:void(0)">描述描述描述描述描述描述描述描述描述描述.....</a>-->
                    <!--</div>-->
                    <!--<input type="button" class="input-btn" value="加入购物车" ng-click="">-->
                <!--</div>-->
            <!--</td>-->
        <!--</tr>-->
    </table>
</div>
<script type="text/javascript" defer="defer" src="/website/js/view/front.product.js"></script>
</body>
</html>